
*{
    margin: 0;
    padding: auto;
}


.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared styles */
:root{
    --primary-color: #4E47FF;
    --secondary-color: #FFFFFF;
    --title-color: #252432;
}
.btn-primary{
      background-color: var(--primary-color);
      color: var(--secondary-color);
      font-size: 16px;
      font-weight: bold;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      font-family:"Raleway", sans-serif ;
}
.btn-primary:hover {
  background-color: #082940;  
}

/* header styles */
.header{
    /* width: 1440px; */
    height: 698px;
    background-image: url('Assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
   
    
}

 /* nav styles */

 nav{
     width: 1140px;
     height: 151px;
     margin: 0px 150px;
 }

 nav ul{
    display: flex;
   align-items: center;
   justify-content: space-between;

 }
 nav ul li{
    list-style: none;
    margin-top: 50px;
   
 }
nav li a{
    text-decoration: none;
}
.logo{
    color: var(--primary-color);
    font-weight: 900;
    font-size: 34px;
    font-family: "Inter", sans-serif;
    
} 
.btn-signup{
    width: 132px;
    height: 48px;
}
 
/* banner styles */

.banner{
    width: 905px;
    height:237px ;
    align-items: center;
    text-align: center;
    margin-left: 300px;
    margin-top: 158px;
}
.banner-title{
    font-size: 65px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: var(--title-color);
}
.btn-stay-focused{
    width: 174px;
    height: 48px;
    margin-top: 37px;
}

/* action styles */
.action{
    width: 1140px;
    height: 328px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 116px 150px 116px 150px;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: var(--title-color);
}
.action-description{
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #25243280;
    margin-top: 23px;
}
.btn-live-preview{
    width: 229px;
    height: 48px;
    margin-top: 25px;
}
.action-image{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* productive users styles */

.productive-users{
   width: 1140px;
   height: 356px;
   background-color: #4E47FF1A;;
   margin-left: 160px;
   
}
.user-content {
    width: 856px;
     height: 206px; 
    text-align: center;
    margin: auto;
    padding-top: 10px; 
    margin-left: 50px;
} 
.productive-title{
    font-size: 38px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    margin-top: 50px; 
    margin-left: 150px;
}
.satisfaction-rate{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-right: 158px;
}
.satisfaction-content{
    margin-left: 140px;
    margin-top: 50px;
}
.pro-user-rate{
    font-size: 80px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: var(--primary-color);
}
.pro-description{
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #25243280 ;
}

/* card styles */

.review{
    width: 1140px;
    height: 342px;
    margin-left: 154px;
    margin-top: 137px;
    margin-bottom: 137px;
}
.review-title{
    font-size: 42px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 50px;
}
.review-container{
    display: flex;
    gap: 20px;
    /* margin-left: 151px; */
}
.review-card{
    width: 366px;
    height: 243px;
    background-color: #F2EDED;
    padding: 24px;
    
}
.card-title{
    font-size: 28px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    margin-top: 24px;
}
.card-para{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    margin-top: 8px;
    color: #00000080;
}
.reviewer-info{
    margin-top: 24px;
    display: flex;
    gap: 12px;
}
.name{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #25243290 ;
}
.date{
    font-family: "Inter", sans-serif; 
    color: #25243250 ;
    font-weight: 600;
    margin-top: 8px;
}
/* focus styles */
.focus-webflow{
    width: 1140px;
    height: 697px;
    margin-left: 150px;
    background-color: #F2EDED;
    
}
.focus-title{
    font-size: 50px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: var(--title-color);
    padding-top: 71px;
    margin-left: 312px;
    
}
.focus-para{
    color: #00000080;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 326px;
}
.btn-get-started{
    width: 195px;
    height: 48px;
    margin-top: 20px;
    margin-left: 472px;
}
.focus-img{
    max-width: 840px;
    height: 365px;
    border-radius: 48px;
    margin-top: 20px;
    margin-bottom: 71px;
    margin-left: 150px;
}
/* form styles */
